
# include these (these may need there own .gitignore)
# with !* to include everything
!matplotlib/

# ignore the binary folder, recompile after pulling
bin/*

# ignore submodules directory
submodules/*

# include the source files
!bin/src
