# ignore everything except what I tell you
/*

# include these (these may need there own .gitignore)
#with !* to include everything
!matplotlib/
!bin/
!bin/src
!zsh/
!X11/
!ranger/
!vim/
!rules.d/
!xmonad/

# ignore these subfolders
vim/*
ranger/__pycache__/*
ranger/history
ranger/bookmarks
ranger/commands.pyo
xmonad/*

# include the following files
!.yaourtrc
!screenrc
!vim/vimrc
!resume.tex
!.gitignore
!xmonad/xmonad.hs
!xmonad/xmobar.hs
!xmonad/README.markdown

# ignore these subfiles
zsh/.zsh_history
zsh/.zcompdump*

